<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= t('.title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_pack_tag('application') %>
    <%= stylesheet_pack_tag('application') %>
  </head>
  <body class="flex">
    <div class="flex flex-col min-h-screen w-full">
      <div class="flex flex-grow flex-wrap container py-6 px-3">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
